.navbar {
  position: fixed;
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  left: 200px;
  top: 0px;
  background-color: #4287f5; 
}

.sign-up-button {
  background-color: #ff7c1f; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  margin-right: 10px; 
}

/* Style for the Login button */
.login-button {
  background-color: #28a745; 
  color: #fff; 
  padding: 10px 20px;
  border: none; 
  cursor: pointer; 
}

.logout-button {
  background-color: #dc3545; 
  color: #fff; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
}